@model Event

@{
    ViewBag.Title = "Event Information";
    Layout = "_Layout";
}


<h1> @Model.EventTitle </h1>

@{
    string locationname;

    if (Model.LocationID == 1)
    {
        locationname = "Mandarin";
    }
    else if (Model.LocationID == 2)
    {
        locationname = "MLK Elementary";
    }
    else if (Model.LocationID == 3)
    {
        locationname = "Palm Beach";
    }
    else if (Model.LocationID == 4)
    {
        locationname = "Offsite Duval";
    }
    else
    {
        locationname = "Offsite Palm Beach";
    }
}

<div class="container">

    <p class="card-text">Event Description: @Model.EventDescription</p>

    <p class="card-text">Location: @locationname</p>

    <p class="card-text">Event Date: @Model.EventDate.ToShortDateString()</p>

    <p class="card-text">Start Time: @Model.StartTime.ToShortTimeString()</p>

    <p class="card-text">End Time: @Model.EndTime.ToShortTimeString()</p>

    <p class="card-text">
        Volunteer spots available: @(@Model.NumVolunteersNeeded - @Model.NumVolunteersSignedUp)
    </p>

    <br />

    <h4> Point of Contact </h4>
    <br />

    <p class="card-text">Name: @Model.POCName</p>

    <p class="card-text">Phone Number: @Model.POCPhone</p>

    <p class="card-text">Email: @Model.POCEmail</p>

    <br />

    <div>
        @*<asp:Button ID="Button1" runat="server" Text="Button" OnClientClick="return confirm('Are you sure?')" /> *@

        <a asp-action="ConfirmationPage" class="btn btn-outline-dark"
           onclick="return confirm('Are you sure you want to sign up?')"
           asp-route-eventId="@Model.EventID">
            Sign Up
        </a>
    </div>

</div>
