@model IEnumerable<Event>

@{
    ViewBag.Title = "All Events";
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}


<div class="text-center">
    <button class="btn btn-light">Create New Event</button>
    <button class="btn btn-light">Export Data</button>
    <button class="btn btn-light">Tasks</button>
</div>


<br />

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Spots available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        { 
            <tr>
                <td>@item.EventTitle</td>
                <td>@item.LocationID</td>
                <td>@item.POCName</td>
                <td>@item.EventDate</td>
                <td>@item.NumVolunteersNeeded</td>
                <td>
                    <form method="post">
                        <button class="btn btn-sm btn-light">
                            View
                        </button>
                        <input type="hidden" name="ProductID" value=" " />
                        <button type="submit" class="btn btn-light btn-sm">
                            Update
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

