@model IEnumerable<Event> 

@{
    ViewBag.Title = "All Events";
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}


<div class="text-center">
    <a asp-action="Create" class="btn btn-light">Create New Event</a>
    <button class="btn btn-light">Export Data</button>
    <button class="btn btn-light">Tasks</button>
</div>


<br />

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Spots available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            string locationname;

            if(item.LocationID == 1)
            {
                locationname = "Mandarin";
            }
            else if(item.LocationID == 2)
            {
                locationname = "MLK Elementary";
            }
            else if (item.LocationID == 3)
            {
                locationname = "Main Palm Beach";
            }
            else if (item.LocationID == 5)
            {
                locationname = "Other Duval";
            }
            else
            {
                locationname = "Other Palm Beach";
            }

            <tr>
                <td>@item.EventTitle</td>
                <td>@locationname</td>
                <td>@item.POCName</td>
                <td>@item.EventDate.ToShortDateString()</td>
                <td>@(@item.NumVolunteersNeeded - @item.NumVolunteersSignedUp)</td>
                <td>

                    @*<form asp-action="Delete" method="post">
                        <a asp-action="Index" class="btn btn-sm btn-warning"
                           asp-route-eventId="@item.EventID">
                            Edit
                        </a>
                        <input type="hidden" name="ProductID" value="@item.EventID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>*@
                    <form method="post">
                        @*<button class="btn btn-sm btn-light">
                            View
                        </button>*@
                        <input type="hidden" name="EventID" value="" />
                        <a asp-action="DisplayEvent" class="btn btn-light btn-sm"
                           asp-route-eventId="@item.EventID">
                            View
                        </a>
                        <input type="hidden" name="EventID" value=" " />
                        <a asp-action="Index" class="btn btn-light btn-sm"
                           asp-route-eventId="@item.EventID">
                            Edit
                        </a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

