@model SignedUpEventsViewModel
@{
    ViewBag.Title = "Sign up confirmation";
    Layout = "_Layout";
}
<!--This class references the event controller to display confirmation of event sign up. See ConfirmationPage
    methods in the eventController.-->

<h1>Thank You!</h1>

<form asp-action="ConfirmationPage" method="post">
    <input type="hidden" asp-for="@Model.EventRegistration.EventID" />

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>We are so excited that you signed up for this opportunity. We can't wait to see you!</p>
                <p class="card-text"><b>Date:</b> @Model.Event.EventDate.ToShortDateString()</p>

                <p class="card-text"><b>Start Time:</b> @Model.Event.StartTime.ToShortTimeString()</p>

                <p class="card-text"><b>End Time:</b> @Model.Event.EndTime.ToShortTimeString()</p>

                <p class="card-text"><b>Location:</b> @Model.Event.Location.LocationName</p>
               
            </div>
            <div>
                <h2> Questions? </h2>
                <br />
                <p class="card-text"><b>Contact Name:</b> @Model.EventRegistration.Event.POCName</p>

                <p class="card-text"><b>Contact Phone Number:</b> @Model.EventRegistration.Event.POCPhone</p>

                <p class="card-text"><b>Contact Email:</b> @Model.EventRegistration.Event.POCEmail</p>

                <p class="card-text">If you need to cancel your sign up for this opportunity you can do so from your volunteer dashboard.</p>
            </div>
        </div>
        <br/>
        <div>
            <!--returns user to their volunteer event dashboard after confirming event sign-up-->
            <a asp-controller="VolunteerDonorDashboard" asp-action="Index" class="btn btn-outline-dark">
                My Volunteer Dashboard
            </a>
        </div>

    </div>
    </form>