@model SignedUpEventsViewModel
@{
    ViewBag.Title = "Sign up confirmation";
    Layout = "_Layout";
}
<!--This class references the event controller to display confirmation of event sign up. See ConfirmationPage
    methods in the eventController.-->

<h1>Thank You!</h1>

<form asp-action="ConfirmationPage" method="post">
    <input type="hidden" asp-for="@Model.EventRegistration.EventID" />

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>We can't wait to see you at the event!</p>
                <p class="card-text">Event Date: @Model.Event.EventDate.ToShortDateString()</p>

                <p class="card-text">Start Time: @Model.Event.StartTime.ToShortTimeString()</p>

                <p class="card-text">End Time: @Model.Event.EndTime.ToShortTimeString()</p>

                <p class="card-text">Location: @Model.Event.Location.LocationName</p>
            </div>
            <div>
                <h2> Questions? </h2>
                <br />
                <p class="card-text">Contact Name: @Model.EventRegistration.Event.POCName</p>

                <p class="card-text">Contact Phone Number: @Model.EventRegistration.Event.POCPhone</p>

                <p class="card-text">Contact Email: @Model.EventRegistration.Event.POCEmail</p>
            </div>
        </div>
        <br/>
        <div>
            <!--returns user to their volunteer event dashboard after confirming event sign-up-->
            <a asp-controller="VolunteerDonorDashboard" asp-action="Index" class="btn btn-outline-dark">
                My Volunteer Dashboard
            </a>
        </div>

    </div>
    </form>