@model SignedUpEventsViewModel

@{
    ViewBag.Title = "The Giving Closet Project's Volunteer Events";
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

@*<p>
        Students, we're glad you're here! The GCP loves having student volunteers! Our student volunteers help
        with filling orders (picking out clothes for students in need), sorting clothes, and organizing at our
        home office facility.
    </p>
    <p>
        Community Volunteers We greatly appreciate your interest in volunteering with the GCP and we can't
        wait to work with you!
    </p>
    <p>
        *Please note that due to the busy nature of the beginning of the school year, it may take us
        some time to get back to you! We greatly appreciate your interest in volunteering with the GCP
        and we can't wait to work with you!*
    </p>
*@
@*<hr />*@
@*<h2>Host a Drive</h2>
     <p>We are always looking for individuals, businesses, and organizations that want to make a difference in their
            community. Our goal is to keep our district hubs stocked throughout the school year, so we can continue to provide
            clothing and other basic essentials to students in need all year long.</p>
    <br />
    <form method="post">
        <a asp-action="HostaDrive" class="btn btn-light btn-sm">
            Host a Drive
        </a>
    </form>
    <hr />*@
<center><h2 style="background-color: #D4EDDA;">Volunteer Opportunities</h2></center>
<br />

<table id="myTable" class="display">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Time</th>
            <th class="text-center">Title</th>
            <th class="text-center">Location</th>
            <th class="text-center">Spots available</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        { 
            <tr>
                <td class="text-center">@item.EventDate.ToShortDateString()</td>
                <td class="text-center">@item.StartTime.ToShortTimeString() to @item.EndTime.ToShortTimeString()</td>
                <td class="text-center">@item.EventTitle</td>
                <td class="text-center">@item.Location.LocationName</td>
                @if (@item.NumVolunteersNeeded <= 0)
                {
                    <td class="text-center">None</td>
                }
                else
                {
                    <td class="text-center">@item.NumVolunteersNeeded</td>
                }

            <td class="text-center">


                <form method="post">
                    <input type="hidden" name="EventID" value=" " />
                    <a asp-action="EventInfoPage" class="btn btn-outline-dark btn-sm"
                       asp-route-eventId="@item.EventID">
                        More Information
                    </a>
                    <button>Quick Sign-Up</button>
                </form>
            </td>
            </tr>
        }
    </tbody>
</table>

