@model CreateEventViewModel
@{
    ViewBag.Title = "Archived";
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

<partial name="_GlobalEventTabs" />
<body>
    <div>
        <br />
        <center><h3 style="background-color: #D4EDDA;">Giving Closet Project Volunteer Opportunities</h3></center>
        <hr />
        <div class="text-center" style="margin-top: 10px; padding: 13px 0 10px 0;">
            <a asp-action="Create" class="btn btn-outline-dark">Create New Opportunity</a>
            <a asp-action="MasterTask" class="btn btn-outline-dark">Tasks</a>
            <a asp-action="MasterDisclaimer" class="btn btn-outline-dark">Disclaimers</a>
        </div>


        <br />

        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Location</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Events)
                {
                    @if (@item.EventTitle != "Offsite Duval" && @item.EventTitle != "Offsite Palm Beach")
                    {
                        <tr>
                            <td class="text-center">@item.EventTitle</td>
                            <td class="text-center">@item.Location.LocationName</td>
                            <td class="text-center">@item.POCName</td>
                            <td class="text-center">@item.EventDate.ToShortDateString()</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="EventID" value="" />
                                    <a asp-action="DisplayEvent" class="btn btn-outline-dark btn-sm"
                                       asp-route-eventId="@item.EventID">
                                        View
                                    </a>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="text-left" style="margin-top: 10px; padding: 13px 0 10px 0;">
            <a asp-action="EventList" class="btn btn-outline-dark">Return to Opportunities List</a>
        </div>
    </div>
</body>
