@model ApplicationUser
@{
    Layout = "_Layout";

}


<partial name="_GlobalDonorTabs" />
<br/>
<center><h3 style="background-color: #D4EDDA;">@Model.FirstName @Model.LastName's Donor Information</h3></center>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <b>First Name:</b> @Model.FirstName
            <br />
            <b>Last Name:</b> @Model.LastName
            <br />
            <b>DOB:</b> @Model.Birthday.ToShortDateString()
            <br />
            <b>County:</b> @Model.County
            <br />
            </div>
        <div>
            <b>Primary Method of Contact:</b> @Model.PreferredContact
            <br />
            <b>Secondary Method Contact:</b> @Model.SecondPreferredContact
            <br />
            <b>Phone Number: </b>@Model.PhoneNumber
            <br />
            <b>Email:</b> @Model.Email
            <br />
        </div>
    </div>
</div>
            <br />
            <center><a asp-action="viewDonors" class="btn btn-outline-dark">Back to Donor List</a></center>
