@model CreateEventViewModel

@{
    ViewBag.Title = "Event Info";
    Layout = "_Layout";
}

    <partial name="_GlobalEventTabs" />
<h1> @Model.Event.EventTitle </h1>

<div class="container">


    <p class="card-text">Location: @Model.Event.Location.LocationName</p>

    <br />

    <p class="card-text">Event Date: @Model.Event.EventDate.ToShortDateString()</p>

    <br />

    <p class="card-text">Start Time: @Model.Event.StartTime.ToShortTimeString()</p>

    <br />

    <p class="card-text">End Time: @Model.Event.EndTime.ToShortTimeString()</p>

    <br />

    <p class="card-text">Number of Volunteers Needed: @Model.Event.NumVolunteersNeeded</p>

    <br />

    <p class="card-text">Event Description: @Model.Event.EventDescription</p>

    <br />

    <p class="card-text">Event is active: @Model.Event.isEventActive</p>

    <br />

    <h4> Point of Contact </h4>

    <br />
    <br />

    <p class="card-text">Name: @Model.Event.POCName</p>

    <br />

    <p class="card-text">Phone Number: @Model.Event.POCPhone</p>

    <br />

    <p class="card-text">Email: @Model.Event.POCEmail</p>

    <br />

    <div>
        <a asp-action="EventList" class="btn btn-outline-dark">Done</a>
        <a asp-action="EventForm" class="btn btn-outline-dark"
           asp-route-eventId="@Model.Event.EventID">
            Edit
        </a>
    </div>

</div>

