@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GCPVDMS.Models.ViewModels.CreateEventViewModel

@{
    ViewBag.Title = "Opportunity";
    Layout = "_Layout";
}


@section Scripts{
    <script>
        $(function () {
            $('[type="date"]').prop('min', function () {
                return new Date().toJSON().split('T')[0];
            });
        });
    </script>
}

<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }

    .required {
        color: red;
    }
</style>


<!DOCTYPE html>
<partial name="_GlobalEventTabs" />


<body>
    <br />
    <h3 style="background-color: #D4EDDA;"> Create/Edit Opportunity Form </h3>
    <hr />

    @*<div asp-validation-summary="All"></div>*@


    <form asp-action="EventForm" method="post">
        <div class="row">
            <div class="col-md-6">

                <input type="hidden" asp-for="Event.EventID" />

                <div class="form-group">
                    <label>Location: </label><span class="required">*</span>
                    <select class="form-control" asp-for="@Model.Event.LocationID">

                        @foreach (var location in Model.Locations)
                        {
                            <option value="@location.LocationID">@location.LocationName</option>

                        }

                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Event.EventDate">Date: </label><span class="required">*</span>
                    <input asp-for="Event.EventDate" class="form-control">
                    <span asp-validation-for="Event.EventDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Event.StartTime">Start Time: </label><span class="required">*</span>
                    <input asp-for="Event.StartTime" type="time" class="form-control">
                    <span asp-validation-for="Event.StartTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Event.EndTime">End Time: </label><span class="required">*</span>
                    <input asp-for="Event.EndTime" type="time" class="form-control">
                    <span asp-validation-for="Event.EndTime" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Event.NumVolunteersNeeded">Number of Volunteers Needed: </label><span class="required">*</span>
                    <input asp-for="Event.NumVolunteersNeeded" class="form-control" required>
                    <span asp-validation-for="Event.NumVolunteersNeeded" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Event.EventTitle">Title: </label><span class="required">*</span>
                    <input asp-for="Event.EventTitle" class="form-control">
                    <span asp-validation-for="Event.EventTitle" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Event.EventDescription">Description: </label>
                    <textarea rows="4" cols="50" asp-for="Event.EventDescription" class="form-control"></textarea>
                </div>


                <h4> Point of Contact </h4>

                <div class="form-group">
                    <label asp-for="Event.POCName">Name: </label><span class="required">*</span>
                    <input asp-for="Event.POCName" class="form-control">
                </div>


                <div class="form-group">
                    <label asp-for="Event.POCPhone">Phone: </label><span class="required">*</span>
                    <input asp-for="Event.POCPhone" class="form-control" placeholder="904-123-4567">
                    <span asp-validation-for="Event.POCPhone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Event.POCEmail">Email: </label><span class="required">*</span>
                    <input asp-for="Event.POCEmail" class="form-control">
                    <span asp-validation-for="Event.POCEmail" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input asp-for="Event.isEventActive" class="custom-checkbox">
                    <label>Active</label>
                </div>

            </div>
            <div class="col-md-5 justify-content-end" style="margin-left: 30px">
                <div class="form-group">

                    <h2>Tasks</h2>

                    @for (Int32 i = 0; i < this.Model.GCPEventTasks.Count; i++)
                    {
                        <input type="checkbox" asp-for="@Model.GCPEventTasks[i].isSelected" />
                        <label asp-for="@Model.GCPEventTasks[i].isSelected">@Model.GCPEventTasks[i].GCPTask.TaskName</label>
                        <input type="hidden" asp-for="@Model.GCPEventTasks[i].GCPTaskID" />
                        <input type="hidden" asp-for="@Model.GCPEventTasks[i].EventID" />
                        <input type="hidden" asp-for="@Model.GCPEventTasks[i].GCPEventTaskID" />
                        <br />
                    }

                </div>
            <br />
            <div class="form-group">
                <h2>Disclaimers</h2>

                @for (Int32 i = 0; i < this.Model.GCPEventDisclaimers.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.GCPEventDisclaimers[i].isSelected" /> 
                    <label asp-for="@Model.GCPEventDisclaimers[i].isSelected">@Model.GCPEventDisclaimers[i].Disclaimer.DisclaimerDesc</label>
                    <input type="hidden" asp-for="@Model.GCPEventDisclaimers[i].DisclaimerID" />
                    <input type="hidden" asp-for="@Model.GCPEventDisclaimers[i].EventID" />
                    <input type="hidden" asp-for="@Model.GCPEventDisclaimers[i].GCPEventDisclaimerID" />
                    <br />
                }

            </div>
                </div>
        </div>
        <div>
            <button class="btn btn-outline-dark" type="submit">Save Event</button> <a asp-action="EventList" class="btn btn-outline-dark">Cancel</a>
        </div>
    </form>

</body>
