@model CreateEventViewModel

@{
    ViewBag.Title = "Event Info";
    Layout = "_Layout";
}

    <partial name="_GlobalEventTabs" />
<br/>
<center><h3 style="background-color: #D4EDDA;">@Model.Event.EventTitle</h3></center>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Event Information</h3>
            <br/>
            <p class="card-text"><b>Location:</b> @Model.Event.Location.LocationName</p>

            <p class="card-text"><b>Event Date:</b> @Model.Event.EventDate.ToShortDateString()</p>

            <p class="card-text"><b>Start Time:</b> @Model.Event.StartTime.ToShortTimeString()</p>

            <p class="card-text"><b>End Time:</b> @Model.Event.EndTime.ToShortTimeString()</p>

            <p class="card-text"><b>Number of Volunteers Needed:</b> @Model.Event.NumVolunteersNeeded</p>


            <p class="card-text"><b>Event Description:</b> @Model.Event.EventDescription</p>


            <p class="card-text"><b>Event is active:</b> @Model.Event.isEventActive</p>

        </div>
        <div>
            <h3> Point of Contact </h3>
            <br/>
            <p class="card-text"><b>Name:</b> @Model.Event.POCName</p>
            <p class="card-text"><b>Phone Number:</b> @Model.Event.POCPhone</p>


            <p class="card-text"><b>Email:</b> @Model.Event.POCEmail</p>
            <br/>
            <div>
                <a asp-action="EventList" class="btn btn-outline-dark">Back To Events</a>
                <a asp-action="EventForm" class="btn btn-outline-dark"
                   asp-route-eventId="@Model.Event.EventID">
                    Edit
                </a>
            </div>
        </div>
        </div>
    </div>

