@model CreateEventViewModel

@{
    ViewBag.Title = "Event Info";
    Layout = "_Layout";
}

    <partial name="_GlobalEventTabs" />
<br/>
<center><h3 style="background-color: #D4EDDA;">@Model.Event.EventTitle</h3></center>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Event Information</h3>

            <p class="card-text">Location: @Model.Event.Location.LocationName</p>

            <p class="card-text">Event Date: @Model.Event.EventDate.ToShortDateString()</p>

            <p class="card-text">Start Time: @Model.Event.StartTime.ToShortTimeString()</p>

            <p class="card-text">End Time: @Model.Event.EndTime.ToShortTimeString()</p>

            <p class="card-text">Number of Volunteers Needed: @Model.Event.NumVolunteersNeeded</p>


            <p class="card-text">Event Description: @Model.Event.EventDescription</p>


            <p class="card-text">Event is active: @Model.Event.isEventActive</p>

        </div>
        <div>
            <h3> Point of Contact </h3>
            <p class="card-text">Name: @Model.Event.POCName</p>
            <p class="card-text">Phone Number: @Model.Event.POCPhone</p>


            <p class="card-text">Email: @Model.Event.POCEmail</p>
            <br/>
            <div>
                <a asp-action="EventList" class="btn btn-outline-dark">Back To Events</a>
                <a asp-action="EventForm" class="btn btn-outline-dark"
                   asp-route-eventId="@Model.Event.EventID">
                    Edit
                </a>
            </div>
        </div>
        </div>
    </div>

