@model ApproveHoursViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#approvalTable').DataTable();
        });</script>
}

<partial name="_GlobalApprovalTabs" />
<br/>
<center><h3 style="background-color: #009E00; color: white">Volunteer Hours Pending Approval</h3></center>
<br />
<table id="approvalTable" class="display">
    <thead>
        <tr>
            <th><center>Request Date</center></th>
            <th><center>Name</center></th>
            <th><center>Event</center></th>
            <th><center>Number of Hours</center></th>
            <th><center>Approve/Deny</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VolunteerHours)
        {
            if (item.isApproved == false && item.isDenied != true)
            {
        <tr>
                <td><center>@item.Date.ToShortDateString()</center></td>
                @foreach (var user in Model.Users)
                {
                    if (item.UserId == user.Id)
                    {
                        <td>
                            <center>@user.FirstName @user.LastName</center>
                        </td>
                    }
                }

                <td><center>@item.Event.EventTitle</center></td>
                <td><center>@item.NumberOfHours</center></td>
                <td>
                    <center>
                        <form asp-action="HoursApproval" asp-route-id="@item.VolunteerHourID" method="post">
                            <button type="submit" name="approve" value="approve" class="btn btn-sm btn-outline-dark" onclick="return confirm('Are you sure you want to approve these volunteer hours?')">
                                Approve
                            </button>
                            <button type="submit" name="approve" value="deny" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to deny these volunteer hours?')">
                                Deny
                            </button>
                        </form>
                    </center>
                </td>
            </tr>
            }
        }
        </tbody>
</table>