@model IEnumerable<IdentityRole>
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#roleTable').DataTable();
        });</script>
}

<partial name="_GlobalRoleTabs" />
<br/> 
<center><h3 style="background-color: #D4EDDA;">Administrative Role Management</h3></center>
<hr />
<center>
    <!--This is disable because the client will need direction before setting this up, long down the road if she needs it.
    Authorization is implemented in the global dashboard controller and can be used for any new role.-->
    <a asp-action="RoleCreate" class="btn btn-outline-dark">Create a Role</a>
</center>

<table id="roleTable" class="display">
    <thead>
        <tr>
            <th><center>Role Name</center></th>
            <th><center>Edit</center></th>
            <th><center>Delete</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            
            <tr>
                <!--<td>@role.Id</td>-->
                <td>@role.Name</td>
                @*<td i-role="@role.Id"></td>*@
                <td>
                    <center>
                        <a class="btn btn-sm btn-outline-dark" asp-action="RoleUpdate" asp-route-id="@role.Id">Edit Users</a>
                    </center>
                </td>
                <td>
                    <form asp-action="RoleDelete" asp-route-id="@role.Id" method="post">
                        <center>
                            <button type="submit" class="btn btn-sm btn-outline-danger" disabled>
                                Delete Role
                            </button>
                        </center>
                    </form>
                </td>
            </tr>
        }

    </tbody>

</table>