@model RoleEdit
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#roleTable2').DataTable();
            $('#roleTable3').DataTable();
        });</script>
}
<partial name="_GlobalRoleTabs" />


<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <center><h3 style="background-color: #009E00; color: white">Current @Model.Role.Name</h3></center>
    <table id="roleTable3" class="display">
        <thead>
            <tr>
                <th><center>Name</center></th>
                <th><center>Email</center></th>
                <th><center>Select to Remove</center></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">No Users Are Members</td></tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model.Members)
                {
                    <tr>

                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.UserName</td>
                        <td>
                            <center>
                                <input type="checkbox" name="DeleteIds" value="@user.Id">
                            </center>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <center><button type="submit" class="btn btn-secondary">Submit</button></center>
    </br></br>
    <center><h3 style="background-color: #009E00; color: white">Add User(s) To @Model.Role.Name</h3></center>
    <table id="roleTable2" class="display">
        <thead>
            <tr>
                <th><center>Name</center></th>
               <th><center>Email</center></th>
                <th><center>Select to Add</center></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">All Users Are Members</td></tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.UserName</td>
                        <td>
                            <center><input type="checkbox" name="AddIds" value="@user.Id"></center>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <center>
        <button type="submit" class="btn btn-secondary">Submit</button>
        <a asp-action="RoleIndex" class="btn btn-secondary">Back to Roles</a>
    </center>
    </br></br>
</form>