@model IEnumerable<IdentityRole>
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#roleTable').DataTable();
        });</script>
}

<partial name="_GlobalRoleTabs" />
<br />
<center><h3 style="background-color: #009E00; color: white">Administrative Role Management</h3></center>
@*</br>
    <a asp-action="Create" class="btn btn-secondary">Create a Role</a>*@

</br>
<table id="roleTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            
            <tr>
                <!--<td>@role.Id</td>-->
                <td>@role.Name</td>
                @*<td i-role="@role.Id"></td>*@
                <td><center><a class="btn btn-sm btn-secondary" asp-action="RoleUpdate" asp-route-id="@role.Id">Edit Users</a></center></td>
                <td>
                    <form asp-action="RoleDelete" asp-route-id="@role.Id" method="post">
                        <center>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </center>
                    </form>
                </td>
            </tr>
        }

    </tbody>

</table>