@model RoleEdit

@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#roleTable2').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false
            });
            $('#roleTable3').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false
            } );
        });</script>
}
<partial name="_GlobalRoleTabs" />
<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <center><h3 style="background-color: #009E00; color: white">Current @Model.Role.Name</h3></center>
    <table id="roleTable3" class="display">
        <thead>
            <tr>
                <th><center>Name </center></th>
                <th><center>Email </center></th>
                <th><center>Remove from Admin Role</center></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">No Users Are Members</td></tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model.Members)
                {
                    //if (user.isApproved == true)
                    //{
                    <tr>

                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.UserName</td>
                        <td>
                            <center>
                                <button type="submit" onclick="return confirm('Are you sure you want to remove this user as an Admin?')" class="btn btn-sm btn-outline-danger" name="DeleteIds" value="@user.Id">Remove</button>
                            </center>
                        </td>
                    </tr>
                      @*}*@
                    }
                }
        </tbody>
    </table>
    </br></br>
    <center><h3 style="background-color: #009E00; color: white">Add User(s) To @Model.Role.Name</h3></center>
    <table id="roleTable2" class="display">
        <thead>
            <tr>
                <th><center>Name</center></th>
               <th><center>Email</center></th>
                <th><center>Add to Admin Role</center></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">All Users Are Members</td></tr>
            }
            else
            {
                
                @foreach (ApplicationUser user in Model.NonMembers)
                {
                    //if (user.isApproved == true)
                    //{
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.UserName</td>
                        <td>
                            <center><button type="submit"  onclick="return confirm('Are you sure you want to add this user to Admin?')" class="btn btn-sm btn-outline-dark" name="AddIds" value="@user.Id">Add</button></center>
                        </td>
                    </tr>
                @*}*@
                }
            }
        </tbody>
    </table>
    <center>
        <a asp-action="RoleIndex" class="btn btn-outline-dark">Back to Roles</a>
    </center>
    </br></br>
</form>