@model IEnumerable<ApplicationUser>
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#volunteerTable').DataTable();
        });</script>
}
<partial name="_GlobalDonorTabs" />


<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <center><h3 style="background-color: #D4EDDA;">Giving Closet Project Donors</h3></center>
    <hr />
    <br />
    <div style="text-align:center">
        <a href="https://www.paypal.com/activities" class="btn btn-outline-dark" role="button" aria-pressed="true">All Transactions</a>
        <a href="https://business.paypal.com/merchantdata/reportHome" class="btn btn-outline-dark" role="button" aria-pressed="true">Run Reports</a>
        <a href="https://www.paypal.com/invoice/manage" class="btn btn-outline-dark" role="button" aria-pressed="true">Invoicing</a>
    </div>

    <table id="volunteerTable" class="display">
        <thead>
            <tr>
                <th><center>First Name </center></th>
                <th><center>Last Name </center></th>
                <th><center>Email</center></th>
                <th><center>County</center></th>
                <th><center>Actions </center></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {

                @if (user.isDonor)
                {

                    <tr>
                        <td><center>@user.FirstName</center></td>
                        <td><center>@user.LastName</center></td>
                        <td><center>@user.Email </center></td>
                        <td><center>@user.County </center></td>
                        <td>
                            <center>
                                <button type="submit" class="btn btn-sm btn-outline-dark" asp-action="DonorInfo" asp-route-id="@user.Id">View Donor Info</button>
                            </center>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <br /><br />
</form>