@model IEnumerable<ApplicationUser>
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#volunteerTable').DataTable();
        });</script>
}
<partial name="_GlobalVolunteerTabs" />


<div asp-validation-summary="All" class="text-danger"></div>
<br />
<form method="post">
    <center><h3 style="background-color: #D4EDDA;">Giving Closet Project Volunteers</h3></center>
    <hr />
    <table id="volunteerTable" class="display">
        <thead>
            <tr>
                <th><center>First Name </center></th>
                <th><center>Last Name </center></th>
                <th><center>Email </center></th>
                <th><center>County</center></th>
                <th><center>Actions </center></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {

                @if (user.isVolunteer)
                {

                    <tr>
                        <td><center>@user.FirstName</center></td>
                        <td><center>@user.LastName</center></td>
                        <td><center>@user.Email</center></td>
                        <td><center>@user.County</center></td>
                        <td>
                            <center>
                                <button type="submit" class="btn btn-sm btn-outline-dark" asp-action="VolunteerInfo" asp-route-id="@user.Id">View Volunteer Info</button>
                            </center>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <br /><br />
</form>