@model ApplicationUser
@{
    Layout = "_Layout";

}


<partial name="_GlobalVolunteerTabs" />

<br />

<center><h3 style="background-color: #D4EDDA;">@Model.FirstName @Model.LastName's Volunteer Information</h3></center>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <b>First Name:</b> @Model.FirstName<br />
            <br />
            <b>Last Name:</b> @Model.LastName <br />
            <br />
            <b>DOB:</b> @Model.Birthday.ToShortDateString() <br />
            <br />
            <b>County:</b> @Model.County <br />
            <br />
        </div>

        <div>
            <b>Primary Method of Contact:</b> @Model.PreferredContact <br />
            <br />
            <b>Secondary Method Contact:</b> @Model.SecondPreferredContact <br />
            <br />
            <b>Phone Number: </b>@Model.PhoneNumber<br />
            <br />
            <b>Email:</b> @Model.Email<br />
            <br />
        </div>
</div>
   </div>
            <br />
            <center> <a asp-action="viewVolunteers" class="btn btn-outline-dark">Back to Volunteer List</a></center>
