@*This View page displays the home page for the Volunteer Dashboard that includes a table of events the volunteer has signed up for.*@

@{
    Layout = "_Layout";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*Script for JavaScript DataTables*@
@model SignedUpEventsViewModel
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#yourTable2').DataTable();
        });
    </script>
}
<partial name="_VolunteerEventsTab" /><!--This is the html tag for the navigation tabs-->
<html>
<body>
    <br />

    <div>
        <h3>Events I'm Signed Up For</h3>
        <table id="yourTable2" class="table table-bordered table-striped">
            @*This table displays the GCP events that the volunteer is signed up for.*@
        <thead style="width: 50px">
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Event Title</th>
                <th class="text-center">Event Location</th>
                <th class="text-center">Start Time</th>
                <th class="text-center">Cancel Registration</th>
            </tr>
        </thead>
        <tbody>
            <!--This loop utilizes the ViewModel tagged in this page to retrieve Event Registration data for a specific volunteer.-->
            @foreach (var item in Model.EventRegistrations)//loops through evenregistration table data
            {
                @if (SignInManager.IsSignedIn(User))//confirms user is signed in
                {
                    var user = UserManager.GetUserId(User);//retrieves the user id
                    if (user == item.UserId)//checks that the userId retrieved matches eventRegistration userId
                    {
                        <tr>
                            <td class="text-center"> @item.Event.EventDate.ToShortDateString() </td><!--So this is really Model.EventRegistration.Event.EventDate. Referencing Viewmodels are basically pointers.-->
                            <td class="text-center"> @item.Event.EventTitle </td>
                            <td class="text-center"> @item.Event.Location.LocationName </td>
                            <td class="text-center"> @item.Event.StartTime.ToShortTimeString() </td>
                            <td class="text-center">
                                <form asp-action="CancelMyEvent" asp-route-id="@item.EventRegistrationID" method="post">
                                    <input type="hidden" asp-for="@Model.Event.EventID" name="eventId" value="@item.Event.EventID" />
                                    <button type="submit" class="btn btn-outline-danger" name="Id" value="@item.EventRegistrationID" onclick="return confirm('Are you sure you want to cancel this event registration?')">Cancel</button>
                                </form>
                            </td>
                        </tr>
                       
                    }

                }
            }
        </tbody>
    </table>
</div>

<br />

<div style="text-align: center">
    <a asp-action="MyLoggedHours" class="btn btn-outline-dark">View My Logged Hours</a>
    @*This button redirects the user to the My Logged Hours View page.*@
    <a asp-action="LogMyHoursCreate" class="btn btn-outline-dark">Log My Hours</a>
    @*This button redirects the user to the Log My Hours View page.*@
</div>

<br />

</body>
</html>
