<!--This View page displays a form that collects data from the volunteer's past events.-->
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model LogMyHoursViewModel
<!--I did not do much editing to your html. You will need to hide the user ID at the bottom, ensure
    the user is logged in before the log their hours, and make sure the user ID is being passed for all logged hours 
    event stuff on your dashboard.-->
<html>
<body>
    <partial name="_VolunteerHoursTab" /><!--This is the html tag for the navigation tabs located in shared folder-->

    <div>
        <br />
        <form asp-action="LogMyHours" method="post">
            <center><h3 style="background-color: #D4EDDA;">Log Hours Request Form</h3></center>
            <input type="hidden" asp-for="VolunteerHour.VolunteerHourID" />

            <div class="form-group">
                <label asp-for="@Model.Event.EventID"><b>Select From Your Registered Events</b></label><br />
                <label><i style="font-size:small">If you are logging hours unassociated with an event, select "Other [County Name]"</i></label><br />

                <div class="form-group">

                    <select class="form-control" asp-for="@Model.VolunteerHour.EventID" id="EventDropdown" style="width: 40%" required>
                        <option value="">Select Event</option>
                        @foreach (var _event in Model.EventRegistrations)
                        {
                            @if (SignInManager.IsSignedIn(User))
                            {

                                var userId = UserManager.GetUserId(User);
                                if (_event.UserId == userId && _event.isLogged == false)
                                {
                                    <option value="@_event.EventID">@_event.Event.EventTitle @_event.Event.EventDate.ToShortDateString()</option>
                                }

                            }
                        }
                        @foreach (var nonEvent in Model.Events)
                        {
                            if (nonEvent.EventTitle == "Offsite Duval")
                            {
                                <option value="@nonEvent.EventID">Other Duval</option>
                            }
                            if (nonEvent.EventTitle == "Offsite Palm Beach")
                            {
                                <option value="@nonEvent.EventID">Other Palm Beach</option>
                            }
                        }



                    </select>
                </div>
                <!--<input asp-for="" class="form-control" id="EventDropdown" required>--><!--This dropdown lists the past events that the volunteer has signed up for.-->
            </div>
            <!--<br />
    <div class="form-group">
        <p>
            Check the box below if you are requesting approval for volunteer work that is not tied to an event.
            <br />
            <input type="checkbox" id="check" /> Non-Event Volunteer Hours-->
            <!--This checkbox, if checked, will disable the above Event dropdown and allow the volunteer to enter in Non-Event Volunteer Work.-->
            <!--</p>
        <p id="NonEvent" style="display:none">
            Provide a brief description of the volunteer work you've done.<br />
            <textarea id="textarea" name="textarea" rows="5" cols="75" required disabled></textarea>
        </p>
    </div>-->
            <br />
            <div class="form-group">
                <label asp-for="VolunteerHour.volunteerDescription"><b>Describe what you did here:</b></label><br />
                <label><i style="font-size:small">Example: Helped fold clothes and sort outfits at MLK Elementary</i></label><br />
                <textarea asp-for="VolunteerHour.volunteerDescription" style="width:500px; height: 100px;" required></textarea>
            </div>

            <div class="form-group">
                <label asp-for="VolunteerHour.StartTime"><b>Select the date that you volunteered:</b> </label>
                <input type="date" min="2020-01-01" max="2025-01-01"asp-for="VolunteerHour.volunteerHourDate" required>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VolunteerHour.StartTime"><b>Select the times you started and ended volunteering: </b></label>
                <input type="time" asp-for="VolunteerHour.StartTime" min="06:00" max="22:00" required>
                <input type="time" asp-for="VolunteerHour.EndTime" min="06:00" max="22:00" required>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerHour.Date"><b>Date of Volunteer Hour Approval Request</b></label>
                <input type="text" asp-for="VolunteerHour.Date" class="form-control" style="width: 20%" value="@DateTime.Now" required readonly><!--The user inputs the date that the event was worked.-->
            </div>
            <!--<div class="form-group">
    <label asp-for="VolunteerHour.NumberOfHours">Number of Hours</label>
    <input type="number" asp-for="VolunteerHour.NumberOfHours" min="0.5" max="24" class="form-control" style="width: 10%" placeholder="0.00" value="" step="0.5" required>-->
            <!--The user inputs the number of hours they worked at the event.-->
            <!--</div>-->
            <input type="hidden" asp-for="VolunteerHour.NumberOfHours" />
            @if (SignInManager.IsSignedIn(User))
            {
                var userId = UserManager.GetUserId(User);
                <div class="form-group">
                    <input type="hidden" asp-for="VolunteerHour.UserId" value="@userId"><!--The user inputs the number of hours they worked at the event.-->
                </div>

            }

            <br />


            <div style="text-align: left">
                <button class="btn btn-outline-dark" type="submit">Submit Form</button><!--This button allows the user tp submit the form.-->
                <a asp-action="MyLoggedHours" class="btn btn-outline-dark">Cancel</a><!--This button allows the user to cancel their form submission and redirects them to the My Logged Hours View.-->
            </div>
        </form>
            </div>

            <br />
            <br />
            <br />
            <br />

            <!--This JavaScript applies to the checkbox/textarea in the html form. By default the textarea is hidden to  the user, once the checkbox is selected the textarea will be visible to the user-->
            <script>
                //variable declarations
                var cb = document.getElementById("check");
                var ne = document.getElementById("NonEvent");
                var ta = document.getElementById("textarea");
                var ed = document.getElementById("EventDropdown");

                cb.onchange = function () {
                    if (cb.checked) {
                        ne.style.display = "block";//Displays the textarea and the checkbox is checked
                        ed.disabled = true;//Disables the event dropdown
                        ta.disabled = false;//Enables the textarea
                    }
                    else {
                        ne.style.display = "none";//The textarea is not displayed and the checkbox is unchecked
                        ed.disabled = false;//Enables the event dropdown
                        ta.disabled = true;//Disables the textarea
                    }
                }
            </script>

        </body>
    </html>
