<!--This View page displays a table that shows the information from the Log My Hours form, as well as the status of the form.-->

@{
    Layout = "_Layout";
}
@model LogMyHoursViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#yourTable').DataTable();
        });
    </script>
}

<partial name="_VolunteerHoursTab" /><!--This is the html tag for the navigation tabs-->
<html>
<body>



    <br />    <center><h3 style="background-color: #D4EDDA;">My Logged Hours</h3></center>

    <div>
        <table id="yourTable" class="table table-bordered table-striped display">
            <!--This table displays the information from the Log My Hours form.-->
            <thead style="width: 50px">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Event</th>
                    <th class="text-center">Hours Worked</th>
                    <th class="text-center">Approval Status</th>
                </tr>
            </thead>
            <tbody>
                <!----This loop utilizes the ViewModel tagged in this page to retrieve logged hour data for a specific volunteer.-->
                @foreach (var item in Model.VolunteerHours)//loops through volunteerHour table data
                {
                    @if (SignInManager.IsSignedIn(User))//checks that user is Signed in
                    {
                        var user = UserManager.GetUserId(User);//get signed in user's UserID
                        if (user == item.UserId)//checks for event registration table UserID's that match the signed in user's UserId
                        {
                            <tr>
                                <td class="text-center">@item.Date.ToShortDateString()</td><!--Model.VolunteerHours.Date-->
                                <td class="text-center">@item.Event.EventTitle</td><!--Model.Event.EventTitle-->
                                <td class="text-center">@item.NumberOfHours</td>
                                @if (item.isApproved == true && item.isDenied == false)
                                {

                                    <td class="text-center" style="color:green;">Approved</td>

                                }
                                @if (item.isApproved == false && item.isDenied == false)
                                {
                                    <td class="text-center">Pending</td>
                                }
                                @if (item.isDenied == true)
                                {

                                    <td class="text-center" style="color:red">Denied</td>

                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <br />

    <div style="text-align: center">
        <input type="button" class="btn btn-outline-dark" value="Print My Logged Volunteer Hours" onclick="printDiv('printableArea')" <!--This button allows the user to see their logged hours on a printable pdf.-->
        <a asp-action="LogMyHours" class="btn btn-outline-dark">Log My Hours</a><!--This button redirects the user to the Log My Hours View page.-->
    </div>

    <br />
    <br />

    <div style="display:none">
        <!--This div is hidden from the view of the user, it only acts as the information that will be displayed in the prontable pdf of the page.-->
        <div id="printableArea">

            <br />
            <br />

            <p style="text-align:center"><img src="~/images/logo.png" height="200" width="200"></p><!--GCP logo-->

            <br />
            <br />

            <h1 style="text-align:center">Volunteer Work Hours</h1>
            <div>
                <div>
        <table id="yourTable" class="table table-bordered table-striped display">
            <!--This table displays the information from the Log My Hours form.-->
            <thead style="width: 50px">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Event</th>
                    <th class="text-center">Hours Worked</th>
                    <th class="text-center">Approval Status</th>
                </tr>
            </thead>
            <tbody>
                <!----This loop utilizes the ViewModel tagged in this page to retrieve logged hour data for a specific volunteer.-->
                @foreach (var item in Model.VolunteerHours)//loops through volunteerHour table data
                {
                    @if (SignInManager.IsSignedIn(User))//checks that user is Signed in
                    {
                        var user = UserManager.GetUserId(User);//get signed in user's UserID
                        if (user == item.UserId)//checks for event registration table UserID's that match the signed in user's UserId
                        {
                            <tr>
                                @if (item.isApproved == true && item.isDenied == false)
                                {
                                <td class="text-center">@item.Date.ToShortDateString()</td><!--Model.VolunteerHours.Date-->
                                <td class="text-center">@item.Event.EventTitle</td><!--Model.Event.EventTitle-->
                                <td class="text-center">@item.NumberOfHours</td>

                                    <td class="text-center">Approved</td>
                                }
                                @*@if (item.isApproved == false && item.isDenied == false)
                                {
                                    <td class="text-center">Pending</td>
                                }
                                @if (item.isDenied == true)
                                {
                                    <td class="text-center">Denied</td>
                                }*@
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

                <br />
                <br />

                <table>
                    <!--This table only acts as a format tool for the signature/date lines on the printable pdf.-->
                    <tr>
                        <td style="padding-right: 120px ; padding-left: 120px">____________________________________________</td>
                        <td style="padding-right: 120px">____________________________________________</td>
                        <td style="padding-right: 120px">________________</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 120px">Print Volunteer Name</td>
                        <td>Volunteer Signature</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td style="padding-left: 120px">____________________________________________</td>
                        <td>____________________________________________</td>
                        <td>________________</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 120px">Print GCP Admin Name</td>
                        <td>GCP Admin Signature</td>
                        <td>Date</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br />
    <br />

    <!--This Javascript function is active when the user clicks the Print My Logged Volunteer Hours button.-->
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

</body>
</html>